# Visual Studio
.vs/
*.vcxproj.user
*.suo
*.user
*.userosscache
*.sln.docstates
*.VC.db
*.VC.VC.opendb
*.opensdf
*.sdf
*.cache
*.pdb
*.ipch/
*.obj
*.log
*.tlog/
*.idb
*.ilk
*.aps
*.ncb
*.sbr
*.sdf
*.opendb
*.dbmdl
*.psess
*.vsp
*.vspx
*.vspscc
*.vssscc
*.tmp
*.bak
*.swp
*.swo
*.res
*.exe
*.dll
*.lib
*.exp
*.pch
*.bsc
*.scc
*.suo
*.tlb
*.tli
*.tlh
*.tmp
*.log
*.vspscc
*.vssscc
*.cachefile
*.db
*.pyc
*.pyo
*.pyd
*.class
*.o
*.gch
*.out
*.dSYM/
Debug/
Release/
x64/
x86/
[Bb]uild*/
[Bb]in*/
[Oo]bj*/
*.ipdb
*.iobj
*.ipch
*.rsp
*.unsuccessfulbuild
*.VC.db
*.VC.opendb
*.vscode/
